{{> head}}   
{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Peinados</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque eum voluptatibus laborum consectetur voluptatem ab reiciendis sapiente nostrum? Similique saepe, sunt asperiores deleniti ducimus iste voluptatibus quisquam ratione ipsa eaque
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/hqdefault.jpg" class="img-thumbnail">
    </div>

</div>
    

{{> footer}}
